

.header-container {
    height: 10vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.options-container {
    display: flex;
}

.my-name {
    font-family: Brush Script MT;
}

.elements-style {
    color: white;
    text-decoration: none;
    padding-right: 20px;
}

.connect-with-me-button-style {
    background-color: transparent;
    color: white;
    border: none;
}

@media screen and (max-width: 767px) {
    .options-container {
        display: none;
    }
    .connect-with-me-button-style {
        display: none;
    }
}

