
.header-container {
    height: 10vh;
    min-width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.options-container-for-large-devices {
    display: flex;
}

@media screen and (max-width: 767px) {
    .header-container {
        justify-content: none; 
    }
}


.my-name {
    font-family: Brush Script MT;
}


.elements-style {
    color: white;
    text-decoration: none;
    padding-right: 20px;
    cursor:pointer;
}




.for-small-devices {
    display: flex;
    flex-direction: column;

}
.example {
    background-color: black;
    height: 30vh;
    margin-left: 60px;
}
.route-card {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.icon-style {
    color: white;
    margin-right: 10px;
    margin-left: 15px;
}

.trigger-button {
    font-size: 32px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .options-container-for-large-devices {
        display: none;
    }
    .my-name {
        order: 1
    }
    .trigger-button {
        order: 0
    }
}



@media screen and (min-width: 768px) {
    .trigger-button {
        display: none;
    }
}