.projects-page {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-work-container {
    min-height: 45vh;
    width: 30%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    cursor: pointer;
    
}
@media screen and (max-width: 767px) {
    .project-work-container {
        margin-bottom: 30px;
        width: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .project-work-container {
        width: 40%;
    }
}

.work-image {
    height: 35vh;
    width: 100%;
    border-radius: 20px;
}
.user-name-style {
    color: white;
    font-size: 22px;
}