* {
    margin: 0;
    padding: 0;
}

.home-page-container {
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
.alignment-container {
    height: 80vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.profile-photo {
    height: 350px;
    width: 350px;
    border-radius: 60px;
}

.name-style {
    color: orange;
    font-size: 62px;
}

.home-page-content-style {
    color: orange;
    font-size: 42px;
    padding-left: 30px;
    font-family: "Crimson Text", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 20px;
}

@media screen and (max-width: 767px) {
    .profile-photo {
        height: 200px;
        width: 200px;
        margin-bottom: 40px;
    }
    .name-style  {
        font-size: 32px;
    }
    .home-page-content-style {
        font-size: 30px;
    }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
    .name-style  {
        font-size: 48px;
    }
    
}

.description-about-me {
    color: white;
    margin-top: 20px;
    font-size: 32px;
    text-align: justify;
}


.button-container {
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 70%;
    border: 1px solid white;
    margin-top: 50px;
}

.button-style {
    height: 50px;
    width: 200px;
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;

}

@media screen and (max-width: 767px) {
    .button-container {
        margin-top: 70px;
        width: 80%;
    }
    .description-about-me {
        font-size: 24px;
    }
}
@media screen and (min-width: 767px) and (max-width: 991px) {
    .button-container  {
        margin-top: 50px;
        width: 70%;
    }
    
}
